@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #012946;

}

.correct {
    color: rgb(255, 255, 255);
}

.incorrect {
    color: red;
    text-decoration: underline;
}